<div class="bootstrap-wrapper">
  <div class="container text-center mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <img src="../../../assets/key.png" alt="logo" style="height: 60px; width: 60px; ">
        <h3 class="text-center">User Login!</h3>

        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" type="text" name="username" [(ngModel)]="loginData.username" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Valid User Name!</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="loginData.password" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <div class="container">
            <button mat-raised-button color="primary" type="submit">Login</button>
          </div>

        </form>
        </mat-card>

        {{loginData|json}}

      </div>

    </div>
  </div>
</div>

