<mat-card *ngIf="user">
  <mat-card-title>Profile</mat-card-title>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">

        <div class="container text-center">
          <img src="../../../assets/man.png" alt="" class="profile-img">
          <h1 class="mt-2 font-weight-bold text-capitalize">Arif Ahmed</h1>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">

            <table class="table table-warning text-center">
              <tbody>
              <tr>
                <td>User ID: </td>
                <td colspan="6">{{user.id}}</td>
              </tr>

              <tr>
                <td>User Name: </td>
                <td colspan="6">{{user.username}}</td>
              </tr>

              <tr>
                <td>First Name: </td>
                <td>{{user.firstName}}</td>
              </tr>

              <tr>
                <td>Last Name: </td>
                <td>{{user.lastName}}</td>
              </tr>

              <tr>
                <td>E-mail Address: </td>
                <td>{{user.email}}</td>
              </tr>

              <tr>
                <td>Role: </td>
                <td>{{user.authorities[0].authority}}</td>
              </tr>

              <tr>
                <td>Status: </td>
                <td>{{user.enabled?"Active":"Not Active"}}</td>
              </tr>

              </tbody>

            </table>

          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="warn">SHARE</button>
  </mat-card-actions>

</mat-card>
